/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYjawmpp9opcZztmOKdRoeEHCU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYja6EWXqnGSfwnQD3YDlprsb0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fchHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(https://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYFK2TSYBz0eNcHnp4YqE4Ts.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.parallax-section {     
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    min-height: 265px;
    color: #000;
    position:relative;
}


.overlay-bg {
    background-color: rgba(0, 0, 0, 0.82);
}

.overlay-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.nopad {
  padding: 0px;
}

.bg-gray {
  background: #e3e3de;
}

.bg-white {
  background: #ffffff;
}


section hr.small {
    border: solid #3190E7;
    border-width: 2px 0 0;
    clear: both;
    height: 0;
    margin: 0px 0 42px;
    max-width: 100px;
}

 h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #7f7f7f;
  margin-bottom: 45px;
} 

h1 span{
  color: #2d8ee7;
}


.btn.btn-primary {
  background-color:transparent;
  border-color:#fff;
  text-transform:uppercase;
  border-radius:0;
  font-size:15px;
  font-weight:700;
  font-family: 'PT Sans', sans-serif;
  padding:10px 27px;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 5;
}

.btn.btn-primary:before , 
.btn.btn-primary:after {
  position: absolute;
  content: "";
  background-color:#fff;
  height: 0;
  width: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index:-1;
}

.btn.btn-primary:before { 
  left:0;
  top:50%;  
}

.btn.btn-primary:after {
  right:0;
  bottom:50%;
}

.btn.btn-primary:hover:before, 
.btn.btn-primary:hover:after {
  width: 100%;
  height:100%;
}

.btn.btn-primary:hover:before { 
  left:50%;
  top:0;  
}

.btn.btn-primary:hover:after {
  right:50%;
  bottom:0;
}

.btn.btn-primary:hover{
  color:#333;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar{
  background: #fff;
  border-radius: 0px;

}

#navbar {
  box-shadow: 0 25px 20px -21px rgba(0,0,0,0.57);
}

.navbar-brand {
  background: linear-gradient(134deg, #0259cf 42%, #75acff);
  position: absolute;
  top: -30px;
  height: 145px;
  width: 110px;
  font-size: 18px;
  line-height: 20px;
  -webkit-box-shadow: 0px 6px 13px 1px rgba(8,0,56,0.6);
  -moz-box-shadow: 0px 6px 13px 1px rgba(8,0,56,0.6);
  box-shadow: 0px 6px 13px 1px rgba(8,0,56,0.6);
}

.navbar-brand>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navbar-toggle .icon-bar {
  background: #0259cf;
}

.navbar-toggle {
  float: left;
}

/*Navigation Search */

.nav-search {
  float: right;
  padding: 21px 0px;
}

.search-form .form-group {
  float: right;
  transition: all 0.35s, border-radius 0s;
  width: 60%; /*change to 32px for Hover Effect , 100% FOR NO effect*/
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 0px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */-
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 0px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #999;
  left: initial;
  font-size: 14px;
}

.search-form .form-group:hover span.form-control-feedback {
  color: #74abfe;
}

@media (max-width: 768px) {
  .search-form .form-group {
    float: left;
  }
}

.nav-search .form-group {
    margin-bottom: 0px;
}

.nav>li>a{
  text-transform: uppercase;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #646464;
}

.nav>li {
  padding: 25px 15px 0px;
}

.nav>li>a {
  font-size: 13px;
  letter-spacing: .5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #7e7e7e;
  padding: 0px 0px;
}

.nav li.active a {
  color: #646464;
  padding-bottom: 25px;
  border-bottom: 4px solid #00aeef;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 0px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.nav.navbar-nav{
  margin-left: 12%;
}

.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
    right: 50%;
    left: 7%;
    padding-bottom: 30px;
    text-align: left;
    bottom: 10%;
}

.carousel-caption h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 36px;
    margin-bottom: 24px;
    color: #fff;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .5px;
    font-family: 'Montserrat',sans-serif;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 0px;
}


#calinogCarousel .overlay-bg {
    /*background: linear-gradient(63deg, #0259cf 40%, #75acff);*/
    background: linear-gradient(63deg, rgba(2, 89, 207, 0.7) 40%, rgba(117, 172, 255, 0.7));

}

#calinogCarousel .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}




/* CTA
-------------------------------------------------- */

#cta {
  background: #7c7c7c;
}

#cta h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 22px;
  font-weight: lighter;
  padding: 16px 0px 24px;
  margin: 0px;
  color: #fff;
}

#cta h3 span {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
}

#cta .custom-btn {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
}


.custom-btn {
  text-align: right;
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.custom-btn span {
  z-index: 11;
}

.custom-btn:after {
  background: #fff;
  content: "";
  height: 140px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.custom-btn:hover:after {
  left: 120%;
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.custom-btn {
  border: 0 solid !important;
  /*box-shadow: inset 0 0 20px rgba(255, 255, 255, 0) !important;*/
  outline: 1px solid !important;
  outline-color: rgba(255, 255, 255, 0.5) !important;
  outline-offset: 0px !important;
  text-shadow: none !important;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.custom-btn:hover {
  border-radius: 0px;
  border: 1px solid !important;
  /*box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2) !important;*/
  outline-color: rgba(255, 255, 255, 0) !important;
  outline-offset: 15px !important;
  text-shadow: 1px 1px 2px #427388 !important;
}

.btn-wrap {
  text-align: right;
}


/* SERVICES AND ADVISORY CSS
-------------------------------------------------- */

#services-advisory {
  position: relative;
}

.homepage-services, .homepage-advisory {
  padding:45px 0px;
}

/*.homepage-services h1, .homepage-advisory h1 , #homeAbout h1{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #7f7f7f;
  margin-bottom: 45px;
} */

/*.homepage-services h1 span, .homepage-advisory h1 span {
  color: #2d8ee7;
}*/



/* Homepage Services
------------------------------*/

.homepage-services {
  padding-left: 15%;
  padding-right: 45px;

}

.services-card {
  cursor: pointer;
  position: relative;
  background: #fff;
  padding: 15px 30px 15px 60px;
  margin-bottom: 30px;
  box-shadow: 0 25px 20px -21px rgba(0,0,0,0.57);
}

.services-card h3 {
    margin: 5px 0px 20px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
}

.services-card p {
    font-weight: 200;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    color: #000;
}

.services-icon-wrap {
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background: #3c96e8;
  color: #fff;
  height: 70px;
  width: 70px;
  left: -35px;
   -webkit-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.6);
  -moz-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.6);
}


.services-card span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)rotate(-45deg);
}

.services-card span i{
  font-size: 24px;
}

.services-card:hover {
  background: #3c96e8;
}

.services-card:hover h3, .services-card:hover p {
  color: #ffffff;
}

.services-card:hover .services-icon-wrap {
  background: #ffffff;
  color: #3c96e8;
}


/* Homepage Advisory
-------------------------------*/

.homepage-advisory {
  padding-left: 45px;
  padding-right: 15%;
}

.homepage-advisory h4 {
  margin: 0px 0px 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.homepage-advisory p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: .5px;
  color:#080808;
}


/* ABOUT US
-------------------------------------------------- */

#homeAbout {
  position: relative;
  z-index: 10;
  background-image: url(img/1.jpg);
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.bg-fade-right {
  background: linear-gradient(63deg, rgba(234, 237, 242, 0.9) 40%, rgba(255, 255, 255, 0.2));
}

.about-overview {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  padding-left: 8%;
  padding-right: 45px;
  padding-top: 45px;
}

#homeAbout h1{
}

#homeAbout h4 {
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 35px;
}

#homeAbout p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: .5px;
  color:#000;
}



/* MAP
-------------------------------------------------- */

.map {
  position: relative;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 15%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border-left: 1px solid #e2e2e2;
  text-align: center;
  font-family: 'Montserrat','sans-serif';
  line-height: 13px;
  font-size: 12px;
  padding-left: 10px;
}

#floating-panel input {
    background: #fff;
    border: 0px;
    font-size: 14px;
    line-height: 17px;
}

#floating-panel {
  margin-left: -100px;
}

/* FOOTER CSS
-------------------------------------------------- */


/* ==================================
9 = Footer
==================================== */
section#footer {background:#666; padding:60px 0; overflow:visible;}

#footer .row.no-gutter {
    margin: 0 auto;
}

#footer .row {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}

#footer .row.no-gutter [class*='col-']:not(:first-child),#footer .row.no-gutter [class*='col-']:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}

#footer .menu-footer {
  text-transform: uppercase;
}

.footer-elements {margin-top:-120px;}
.footer-element { background: #3190E7; padding: 8px 15px 15px; text-align:center; box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);}
.footer-element span.fa { font-size:45px;color:#fff; margin-bottom:15px;}
.footer-element p { font-size:14px; color:#fff;margin-bottom:0;}
.footer-element p span { display: block;}
.footer-element p a { color:#fff;}
.footer-content { margin-top: 42px;}
.footer-col-content { padding-right:25px;}
.footer-content .small-logo { margin:10px 0 15px;}
.footer-content p { font-size:15px; color:#ccc;margin-bottom:0;}
.footer-content h5 { font-size:18px; color:#fff;margin:12px 0 20px; padding:0;}
.footer-content ul.posts { margin:0; padding:0; list-style: none;}
.footer-content ul.posts li {padding:9px 0; border-bottom:1px solid #747474; font-size:15px;}
.footer-content ul.posts li:first-child {padding-top:0; }
.footer-content ul.posts li:last-child {border-bottom:0; }
.footer-content ul.posts li a {color:#ccc; transition: all 250ms ease-out 0s;}
.footer-content ul.posts li a:hover {color:#fff;}
.footer-content ul.posts li span {display:block;font-size:12px; margin-top:3px;color:#B9B9B8;}
#mc_embed_signup { margin-top:15px;}
#mc_embed_signup input[type="email"] { border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: 0;}
#mc_embed_signup input[type="submit"] { margin-top:5px; transition: all 250ms ease-out 0s; border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: 0; color:#fff; background:#3190e7;}
#mc_embed_signup input[type="submit"]:hover { background:#808080;}

/* Social Buttons ---------------------- */
.social-links {margin:20px 0 0; padding:0;}
.social-links li { list-style: none;  display: inline-table;}
.social-links li a { color:#fff; font-size:13px; display: inline-block;  padding-top:7px;  text-align: center;  height: 34px;  width: 34px;  position: relative; z-index: 1; -webkit-transition: color 0.15s; transition: color 0.15s; -moz-osx-font-smoothing: grayscale; border-radius:50%; -webkit-backface-visibility: hidden;}
.social-links li a::before { content: '';  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  border-radius: inherit;  z-index: -1;  box-shadow: inset 0 0 0 35px #808080;  -webkit-transform: scale3d(0.7, 0.7, 1);  transform: scale3d(0.7, 0.7, 1);  -webkit-transition: box-shadow 0.15s, -webkit-transform 0.15;  transition: box-shadow 0.15s, transform 0.15s;}
.social-links li a:hover::before {  -webkit-transform: scale3d(1.0, 1.0, 1);  transform: scale3d(1.0, 1.0, 1); box-shadow: inset 0 0 0 35px  #009DE0;}

.copyright {padding:15px 0; background:#525151;}
.copyright p {font-size:14px; color:#ccc; margin-bottom:0;}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 30px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  
}
